<div class="divFormContainer">
    <form class="formAddProduct" method="POST" action="/api/productos/">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label>Precio</label>
            <input type="text" name="price" class="form-control">
        </div>
        <div class="form-group">
            <label>Imagen</label>
            <input type="text" name="thumbnail" class="form-control">
        </div>
        <div class="form-group">
            <label>Descripcion</label>
            <textarea class="form-control inputDescription" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Codigo</label>
            <input type="input" name="code" class="form-control">
        </div>
        <div class="form-group">
            <label>Stock</label>
            <input type="number" name="stock" class="form-control">
        </div>
        <br>
            <button class="btn btn-dark">Agregar Producto</button>
    </form> 
</div>

<div id="divProductListWSOuterContainer"></div>

<div class="divChatContainer">
{{> formChat }}
</div>

{{> importScripts }}

<script src="/socket.io/socket.io.js"></script>
<script src="form.js"></script>