.navbar {
    background-color: #000000; }
    .navbar #logo {
      height: 80px;
      width: 80px; }
    .navbar #navbarNav {
      transition: all 0.5s; }
      .navbar #navbarNav .nav-link {
        font-size: 20px; }
      .navbar #navbarNav .nav-item:hover {
        font-weight: bold; }

.productsListContainer{
    display:flex;
    height: 10vh;
    margin: 2vh;
}

.productsListContainer img{
    object-fit: contain;
    height: 100%;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.separateLine{
    background-color: #ffffff;
    height: 1px;
    width: 95vw;
}
.separateLineContainer{
    display:flex;
    justify-content: center;
}
.detailsListContainer *{
    margin-left:10vw;
    color:#ffffff;
    font-size: 1.3em;
}

.nothingListContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.nothingListContainer p{
    font-weight: 700;
    color:#ffffff;
    font-size: 1.3em;
}

.nothingListContainer img{
    padding-top: 10vh;
    height:35vh;
    width: 35vh;
}

#divProductListWSContainer{
    display:flex;
    height: 5vh;
    margin: 2vh;
    border: #ffffff 1px solid;
    border-radius: 9px 0 0 9px;
  }
  .productListBlockWSImage{
    height:5vh;
    width: 5vh;
    object-fit: contain;
    height: 100%;
    border-right: 1px solid #ffffff;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .productListBlockWSText{
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding:2vh;
    padding-top: 3vh;
    color:#000000;
    background-color:#999999;
    font-size: 1em;
  }
  .productListTitleWS{
    margin-left: 2vh;
    margin-top:2vh;
    font-size: 1.3em;
    color:#000000;
  } 
  @media only screen and (min-width: 600px) {
    #divProductListWSContainer,.productListTitleWS{
      margin-left: 17.5vw;
      margin-right: 17.5vw;
      }
  }

  /* CHAT WS STYLE */

  .divChatContainer{
    bottom: 45px;
    right: 0;
    width: 100%;
  }
  .chatMessagesContainer{
    height: 20vh;
    border: #000000 1px solid;
    border-radius: 10px;
    margin-bottom: 1vh;
    overflow: scroll;
  }
  .inputMail,.inputMessage{
    margin-bottom: 1vh;
    border-color: #000000;
  }
  .divChatMessagesBlockContainer{
    display:flex;
    max-width: 100%;
    justify-content: space-between;
    margin-left:2vw;
    margin-right:2vw;
  }
  .chatDate,.chatUser{
    font-weight: 600;
    font-size: 0.8em;
    color:#000000;
    padding:0;
    margin:0;
  }
  .chatText{
    font-weight: 600;
    font-size: 0.9em;
    margin-left:2vw;
    margin-right:2vw;
    margin-bottom:0;
  }

  footer {
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: end; }
    footer .anchoFooter {
      margin-top: 10px;
      margin-bottom: 10px; }
      footer .anchoFooter .redes {
        display: inline-block; }
        footer .anchoFooter .redes .bi-facebook {
          font-size: 30px;
          text-align: center;
          margin-left: 5px;
          margin-right: 5px;
          color: #fff; }
          footer .anchoFooter .redes .bi-facebook:hover {
            color: #3b5998; }
        footer .anchoFooter .redes .bi-twitter {
          font-size: 30px;
          text-align: center;
          margin-left: 5px;
          margin-right: 5px;
          color: #fff; }
          footer .anchoFooter .redes .bi-twitter:hover {
            color: #38a5ff; }
        footer .anchoFooter .redes .bi-instagram {
          font-size: 30px;
          text-align: center;
          margin-left: 5px;
          margin-right: 5px;
          color: #fff; }
          footer .anchoFooter .redes .bi-instagram:hover {
            color: #ec09b3; }