<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    </head>
        <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-lav">
                <div class="container-fluid">
                <a class="navbar-brand text-light" href="http://localhost:8080/"><img src="images/store_logo.png" alt="Logo" id="logo"></a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="http://localhost:8080/productos">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="http://localhost:8080/">Formulario</a>
                    </ul>
                </div>
                </div>
            </nav>
            {{{body}}}
            <footer>
                <div class="anchoFooter">
                    <div class="redes">
                    <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i> </a>
                    <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook fs-2"></i> </a>
                    <a href="https://www.twitter.com" target="_blank"><i class="bi bi-twitter"></i> </a>
                    </div>
                </div>  
            </footer>
        </body>
</html>